<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Dicegame</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        nav{
            text-align: center;
        }
        nav p {
            color: #d36d83;
            font-size: 2em;
            text-decoration: none;
            margin: auto;

        }
        img {
            width: 150px;
            height: 150px;
        }
        .content{
            width: 600px;
            text-align: center;

        }
        body{
            font-weight: bold;
        }
        .btn{
            width: 100%;
            margin-top: 15px;
            color: black;
            font-weight: bold;
        }
        .red{
            background-color: #f0e774;
            font-size: 25px;
            color: black;
            padding: 2px;
        }
        .blue{
            background-color: aqua;
            font-size: 25px;
            padding: 2px;
        }
        .container{
            border: #444444 solid 5px;
            border-radius: 10px;
            padding: 20px;
        }
        .rule{
            font-weight:500;
            font-size: 18px;
            margin-left: 50px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <p>Designed and coded by Shubhparteek Singh for JAC's Cloud administration and security winter 2023</p>
    </nav>
    <hr>
    <div class="rule">
        <h1>Rules</h1>
        <ul>
            <li>Player 1 will roll the dice first.</li>
            <li>First player to reach  20 points will win.</li>
            <li>After each dice roll you could choose to roll the dice again or hold your current score and pass turn to other player.</li>
            <li>Getting 1 on dice will result in loosing all the points and automatic passing the turn to other player.</li>
            <li>Enjoy the game.</li>
        </ul>
    </div>
    <hr>

    <div class="content container">
        {% block content %} {% endblock %}
    </div>

    <hr>
   
</body>
</html>